html {
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
#noidungkhoahoc {
	width: 50%;
	min-height: 100%;
	max-height: auto;
	background-color: #e1f5fe;
	padding: 5%;
	text-align: justify;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-family: sans-serif;
}
#noidungkhoahoc h1 {
	padding: 0px;
	margin: 0px;
	text-align: center;
}
#noidungkhoahoc h3 {
	text-decoration: underline;
}
.click {
	width: 50%;
	height: 30px;
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 0px;
	margin: 0px;
	color: white;
	font-size: 1.5vw;
	font-family: Times;
	cursor: pointer;
	background-color: #002259;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	-webkit-box-shadow: 0px 0px 8px black;
	-moz-box-shadow: 0px 0px 8px black;
}
.click-son {
	width: 33.33%;
	text-align: center;
	float: left;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
}
.click-son:hover {
	background: red;
}
.demuc {
	width: 40%;
	height: 0;
	overflow-x:hidden;
	cursor: pointer;
	position: fixed;
	top: 30px;
	left: 0px;
	font-size: 18px;
	background-color: #e1f5fe;
	font-family: Times;
	-webkit-transition: all 0.35s ease-in;
	-moz-transition: all 0.35s ease-in;
}
.showdemuc {
	height: 80%;
}
.lesson {
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: 1px solid #12345a;
	color: black;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}
.lesson:hover {
	font-weight: bold;
	background: #40c4ff;
}
#result {
	width: 49.5%;
	height: 50%;
	position: fixed;
	top: 0px;
	right: 0.5%;
	background: white;
	overflow-x:hidden;
	border: none;
	padding: 0px;
	font-family: Serif;
	border-bottom: 3px solid red;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-left: 3px;
	-webkit-box-shadow: 0px 0px 5px #ccc;
	-moz-box-shadow: 0px 0px 5px #ccc;
}
#runcode {
	width: 8%;
	height: 25px;
	background-color: red;
	position: fixed;
	top: 50%;
	right: 0.5%;
	z-index: 5;
	color: white;
	text-align: center;
	line-height: 25px;
	font-size: 15px;
	cursor: pointer;
	font-family: Times;
}
#wrap {
	width: 46%;
	height: 400px;
	border: 1px solid #ccc;
	display: none;
	position: fixed;
	left: 2%;
	top: 100px;
	background: white;
}
#cauhoi {
	width: 100%;
	height: 100px;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	padding-top: 5px;
	padding-left: 5px;
	color: blue;
}
#result-quiz {
	width: 100%;
	height: 50px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	line-height: 50px;
	color: red;
}
.dapan {
	width: 100%;
	height: 50px;
	text-align: left;
	line-height: 100px;
	padding-left: 10px;
	font-weight: bold;
	cursor: pointer;
	font-size: 16px;
}
#bangrank {
	width: 96%;
	margin: auto;
}
#bangrank td {
	width: 33.33%;
	border: 1px solid #ccc;
	border-collapse: collapse;
	text-align: center;
	color: red;
	font-weight: bold;
}
#bangrank img {
	width: 100px;
	height: 100px;
}
#bangrank p {
	margin: 0px;
	padding: 0px;
}