html {
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: Times;
}
#noidungkhoahoc {
	width: 50%;
	min-height: 100%;
	max-height: auto;
	background-color: #e1f5fe;
	padding: 5%;
	text-align: justify;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-family: sans-serif;
}
#noidungkhoahoc h1 {
	padding: 0px;
	margin: 0px;
	text-align: center;
}
#noidungkhoahoc h3 {
	text-decoration: underline;
}
.click {
	width: 50%;
	height: 30px;
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 0px;
	margin: 0px;
	color: white;
	font-size: 18px;
	font-family: Times;
	cursor: pointer;
	background-color: #002259;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	-webkit-box-shadow: 0px 0px 8px black;
	-moz-box-shadow: 0px 0px 8px black;
}
.click-son {
	width: 33.33%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	float: left;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
}
.click-son:hover {
	background: #3949ab;
}
.demuc {
	width: 40%;
	height: 0;
	overflow-x:hidden;
	cursor: pointer;
	position: fixed;
	top: 30px;
	left: 0px;
	font-size: 18px;
	background-color: #b2ebf2;
	font-family: Times;
	-webkit-transition: all 0.35s ease-in;
	-moz-transition: all 0.35s ease-in;
}
.showdemuc {
	height: 80%;
}
.lesson {
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: 1px solid #ccc;
	color: black;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}
.lesson:hover {
	font-weight: bold;
	background: #40c4ff;
}
#result {
	width: 49.5%;
	height: 50%;
	position: fixed;
	bottom: 0px;
	right: 0.5%;
	background: white;
	overflow-x:hidden;
	border: none;
	padding: 10px;
	font-family: Serif;
	border-bottom: 3px solid #004d40;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-shadow: 0px 0px 5px #ccc;
	-moz-box-shadow: 0px 0px 5px #ccc;
}
#runcode {
	position: fixed;
	bottom: 50%;
	right: 0.5%;
	width: 8%;
	height: 25px;
	background-color: #002259;
	color: white;
	text-align: center;
	line-height: 25px;
	font-size: 15px;
	cursor: pointer;
	font-family: Times;
	z-index: 5;
	box-sizing: border-box;
}
#select-code {
	position: fixed;
	bottom: 50%;
	right: 8.5%;
	width: 8%;
	height: 25px;
	background-color: #002259;
	color: white;
	text-align: center;
	line-height: 25px;
	font-size: 15px;
	cursor: pointer;
	font-family: Times;
	z-index: 5;
	box-sizing: border-box;
}
#wrap {
	width: 46%;
	height: 400px;
	display: none;
	position: fixed;
	left: 2%;
	top: 100px;
	background: #e3f2fd;
	border: 3px outset #006064;
	box-sizing: border-box;
	overflow: hidden;
}
#cauhoi {
	width: 100%;
	height: 100px;
	text-align: center;
	background: #64b5f6;
	color: white;
	font-family: Times;
	font-weight: bold;
	font-size: 20px;
}
.dapan {
	width: 100%;
	height: 40px;
	margin-top:20px;
	background: #64b5f6;
	color: white;
	font-weight: bold;
	text-align: center;
	box-sizing: border-box;
	line-height: 40px;
	cursor: pointer;
	font-size: 16px;
	font-family: Times;
}
.dapan:hover {
	background: #4fc3f7;
}
#total {
	width: 100%;
	height: 60px;
}
#start, #ketthuc,#quizthuchanh {
	width: 20%;
	height: 60px;
	text-align: center;
	line-height: 60px;
	float: left;
	border-right: 2px solid white;
	background-color: #0d47a1;
	color: white;
	font-weight: bold;
	cursor: pointer;
	box-sizing: border-box;
	font-family: Times;
}
#ketqua-quiz {
	width: 60%;
	height: 60px;
	text-align: center;
	color: red;
	float: left;
	font-size: 18px;
	line-height: 60px;
	font-weight: bold;
	text-transform: uppercase;
}
#bangrank {
	width: 96%;
	margin: auto;
	border: 1px solid #ccc;
}
#bangrank td {
	width: 33.33%;
	border: 1px solid #ccc;
	border-collapse: collapse;
	text-align: center;
	color: red;
	font-weight: bold;
}
#bangrank img {
	width: 50px;
	height: 50px;
}
#bangrank p {
	margin: 0px;
	padding: 0px;
}