#banner {
	background: url(img/banner.png) no-repeat;
    background-size: cover;
    opacity: 0.3;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
}
.wrap {
    max-width: 1280px;
    min-width: 320px;
    margin: 0px auto;
    padding-top: 20px;
    padding-bottom: 30px;
    text-shadow:3px 3px 8px blue;
    position: relative;
    right: 100%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
}
#banner .title {
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 30px;
    padding-left: 1%;
    font-family: 'Taviraj', serif;
}
#banner .slogan {
    font-size: 40px;
    line-height: 45px;
    color: #fff;
    text-align: justify;
    padding: 0;
    padding-left: 1%;
    font-family: 'Taviraj', serif;
}
.dangky { 
	text-align: center;
}
.dangky .dangkyngay {
    display: inline-block;
    font-size: 28px;
    text-transform: uppercase;
    color: #fff;
    background: #26a69a;
    padding: 20px 30px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    cursor: pointer;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
}
.dangky .dangkyngay:hover { 
	background: #0d47a1;
}
#body-home {
    max-width: 1100px;
    min-width: 320px;
    height: 480px;
    margin: 0px auto;
}
.body-home-son img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 1px solid #002b72;
    float: left;
    position: relative;
    z-index: 2;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    cursor: pointer;
}
.body-home-son {
    width: 100%;
    height: 190px;
    margin-top: 30px;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.body-home-son div {
    width: 75%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 140px;
    border: 1px solid #002b72;
    -webkit-border-radius: 0px 100px 100px 0px;
    -moz-border-radius: 0px 100px 100px 0px;
    -webkit-box-shadow: 0px 0px 10px #002b72;
    -moz-box-shadow: 0px 0px 10px #002b72;
    position: absolute;
    top: 35px;
    left: 160px;
    -webkit-transition: all 0.35s ease-in;
    -moz-transition: all 0.35s ease-in;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
    font-family: 'Taviraj', serif;
}
.body-home-son div span {
    padding: 0px;
    margin: 0px;
    padding-left: 50px;
    line-height: 140px;
}
.body-home-son div:hover {
    color: red;
    font-size: 35px;
    -webkit-box-shadow: 0px 0px 20px #002b72;
    -moz-box-shadow: 0px 0px 20px #002b72;
}
#go-techmaster {
    width: 100%;
    text-align: center;
    color: white;
    min-height: 480px;
}
.help-you p {
  margin: 5%;
  text-align: left;
  font-size: 18px;
  font-family: 'Taviraj', serif;
}
.help-you {
    width: 21%;
    height: 350px;
    margin: 2%;
    border: 1px solid #002b72;
    -webkit-box-shadow: 0px 0px 10px #002b72;
    -moz-box-shadow: 0px 0px 10px #002b72;
    float: left;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    cursor: pointer;
    color: black;
    overflow: hidden;
}
.help-you:hover {
    -webkit-box-shadow: 0px 0px 20px #002b72;
    -moz-box-shadow: 0px 0px 20px #002b72;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    color: #002b72;
}
.help-you h1 {
    color: #002b72;
}
#h1-help {
  font-size: 50px;
  color: #002b72;
}
#img-tuoitre {
    width: 100%;
    height: 250px;
    background: url(img/tuoitre.jpg) no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}
#giangvien {
    width: 100%;
    height: 1150px;
    background-image: url("img/giangvien.jpg");
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    text-align: center;
    color: #002b72;
    padding-top: 20px;
    font-family: 'Taviraj', serif;
}
#giangvien h1 {
    margin: 0px;
    color: #dd2c00;
    text-shadow: 0px 0px 16px white;
}
@keyframes giangvienanimate {
    0%   {transform:translateY(-25px);}
    50%  {transform:translateY(25px);}
    100% {transform:translateY(-0px);}
}
@-webkit-keyframes giangvienanimate {
    0%   {transform:translateY(-25px);}
    50%  {transform:translateY(25px);}
    100% {transform:translateY(-0px);}
}
.giangvien {
    width: 80%;
    height: 150px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25px;
    -webkit-box-shadow: 0px 0px 5px #ccc;
    -moz-box-shadow: 0px 0px 5px #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background:rgba(255,255,255, 0.65);
    border: 2px outset #26c6da;
    overflow: hidden;
}
.giangvien div {
    width: 85%;
    float: left;
    font-size: 18px;
    color: #002b72;
    text-align: left;
    padding-left: 10px;
    box-sizing: border-box;
}
.giangvien img {
    width: 15%;
    height: 148px;
    border: 1px solid white;
    float: left;
    box-sizing: border-box;
}
.giangvien div h3, .giangvien div p {
    margin: 0px;
    padding: 0px;
}
.hocvien {
    width: 0%;
    margin: 2%;
    height: 260px;
    border: 1px solid #ccc;
    float: left;
    margin-bottom: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background:rgba(255,255,255, 0.75);
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    overflow: hidden;
    border: 2px outset #26c6da;
    font-family: 'Taviraj', serif;
}
.hocvien img {
    width: 20%;
    height: 30%;
    border-radius: 50%;
    padding: 0px;
}
.hocvien span {
    color: #002b72;
    font-size: 18px;
    text-align: left;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .body-home-son {
        width: 90%;
        margin: auto;
        float: none;
        height: 155px;
        margin-top: 10px;
    }
    .body-home-son img {
        width: 150px;
        height: 150px;
    }
    .body-home-son div {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 95px;
        border: 1px solid #002b72;
        -webkit-border-radius: 0px 100px 100px 0px;
        -moz-border-radius: 0px 100px 100px 0px;
        -webkit-box-shadow: 0px 0px 10px #002b72;
        -moz-box-shadow: 0px 0px 10px #002b72;
        position: absolute;
        top: 30px;
        left: 90px;
        font-size: 20px;
    }
    .body-home-son div span {
        padding: 0px;
        margin: 0px;
        padding-left: 70px;
        line-height: 95px;
    }
    .body-home-son img:hover {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
    }
    .body-home-son div:hover {
        color: red;
        font-size: 20px;
    }
    .help-you {
        width: 44%;
        margin: 3%;
        height: 250px;
        font-family: Times;
    }
    .help-you:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
    }
    #go-techmaster {
        height: 750px;
    }
    .giangvien div {
        width: 65%;
        font-size: 14px;
    }
}
@media only screen and (min-width: 580px) and (max-width: 767px) {
    .body-home-son {
        width: 90%;
        margin: auto;
        float: none;
        height: 105px;
        margin-top: 5px;
    }
    .body-home-son img {
        width: 100px;
        height: 100px;
    }
    .body-home-son div {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 65px;
        border: 1px solid #002b72;
        -webkit-border-radius: 0px 100px 100px 0px;
        -moz-border-radius: 0px 100px 100px 0px;
        -webkit-box-shadow: 0px 0px 10px #002b72;
        -moz-box-shadow: 0px 0px 10px #002b72;
        position: absolute;
        top: 20px;
        left: 70px;
        font-size: 18px;
    }
    .body-home-son div span {
        padding: 0px;
        margin: 0px;
        padding-left: 50px;
        line-height: 65px;
    }
    .body-home-son img:hover {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
    }
    .body-home-son div:hover {
        color: red;
        font-size: 18px;
    }
    .help-you {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        height: 200px;
        font-family: Times;
    }
    .help-you:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
    }
    #img-tuoitre {
        display: none;
    }
    #go-techmaster {
        height: 1050px;
    }
    .giangvien div {
        width: 60%;
        font-size: 12px;
    }
}
@media only screen and (min-width: 420px) and (max-width: 579px) {
    .body-home-son {
        width: 90%;
        margin: auto;
        float: none;
        height: 105px;
        margin-top: 5px;
    }
    .body-home-son img {
        width: 100px;
        height: 100px;
    }
    .body-home-son div {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 65px;
        border: 1px solid #002b72;
        -webkit-border-radius: 0px 100px 100px 0px;
        -moz-border-radius: 0px 100px 100px 0px;
        -webkit-box-shadow: 0px 0px 10px #002b72;
        -moz-box-shadow: 0px 0px 10px #002b72;
        position: absolute;
        top: 20px;
        left: 70px;
        font-size: 12px;
    }
    .body-home-son div span {
        padding: 0px;
        margin: 0px;
        padding-left: 50px;
        line-height: 65px;
    }
    .body-home-son img:hover {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
    }
    .body-home-son div:hover {
        color: red;
        font-size: 12px;
    }
    .help-you {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        height: 200px;
        font-size: 15px;
        font-family: Times;
    }
    .help-you p {
        font-size: 16px;
    }
    .help-you:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
    }
    #img-tuoitre {
        display: none;
    }
    #go-techmaster {
        height: 1050px;
    }
    #giangvien {
        display: none;
    }
}
@media only screen and (max-width: 419px) {
    #banner {
        display: none;
    }
    .body-home-son {
        width: 90%;
        margin: auto;
        float: none;
        height: 105px;
        margin-top: 5px;
    }
    .body-home-son img {
        width: 100px;
        height: 100px;
    }
    .body-home-son div {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 65px;
        border: 1px solid #002b72;
        -webkit-border-radius: 0px 100px 100px 0px;
        -moz-border-radius: 0px 100px 100px 0px;
        -webkit-box-shadow: 0px 0px 10px #002b72;
        -moz-box-shadow: 0px 0px 10px #002b72;
        position: absolute;
        top: 20px;
        left: 70px;
        font-size: 10px;
    }
    .body-home-son div span {
        padding: 0px;
        margin: 0px;
        padding-left: 50px;
        line-height: 65px;
    }
    .body-home-son img:hover {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
    }
    .body-home-son div:hover {
        color: red;
        font-size: 10px;
    }
    .help-you {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        height: 200px;
        font-family: Times;
    }
     .help-you p {
        font-size: 12px;
    }
    .help-you:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
    }
    #img-tuoitre {
        display: none;
    }
    #giangvien {
        display: none;
    }
}