@keyframes muakhoahoc {
    0%  {background-color: #EF7126; color: #F9E559;}
    25%  {background-color: #6F3662; color: #FFFFFF;}
    50%  {background-color: #9F6164; color: #F8DEBD;}
    75%  {background-color: #44B3C2; color: #FFFFFF;}
    100% {background-color: #218C8D; color: #F9E559;}
}
#banner {
	background: url(img/bannerkhoahoc.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.wrap {
    max-width: 1280px;
    min-width: 320px;
    margin: 0px auto;
    text-shadow: 0px 0px 5px #26a69a;
    text-align: center;
}
#banner .title {
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    padding: 20px;
    margin: 0px;
}
#banner .desc {
    font-size: 30px;
    line-height: 45px;
    color: #fff;
    text-align: justify;
    padding-bottom: 50px;
    text-align: center;
    padding: 0;
    margin: 0px;
}
#big-section {
	width: 100%;
}
section {
	max-width: 1280px;
	min-width: 320px;
	margin: 0px auto;
}
#menukhoahoc {
	width: 8.33%;
	height: auto;
	float: left;
	background-color: #26a69a;
	color: white;
}
#menukhoahoc div {
	width: 100%;
	height: 50px;
	text-align: center;
	text-transform: uppercase;
	line-height: 50px;
	cursor: pointer;
	font-size: 16px;
}
#danhsachkhoahoc {
	width: 91.66%;
	float: left;
	background-color: #d0d6e0;
}
#danhsachkhoahoc .box-relative {
	width: 23%;
	float: left;
	height: 350px;
	border: 1px solid #ccc;
	text-align: center;
	background-color: white;
	margin: 1%;
	cursor: pointer;
}
#danhsachkhoahoc .box-relative .img-course:hover .box-absolute{
	display: block;
}
#danhsachkhoahoc div:hover {
	-webkit-box-shadow: 0px 0px 10px black;
	-moz-box-shadow: 0px 0px 10px black;
}
#danhsachkhoahoc div img {
	width: 90%;
	height: 215px;
	margin-top: 10px;
}
.hocngay {
	display: block;
	width: 50%;
	height: 30px;
	background-color: #26a69a;
	text-align: center;
	line-height: 30px;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	margin: auto;
	position: relative;
}
.hocngay:hover {
	background-color: #00695c;
}
.click-hocngay {
	width: 150%;
	height: auto;
	background: #26a69a;;
	position: absolute;
	display: none;
	font-style: italic;
	font-size: 15px;
	text-align: initial;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
.hocngay:hover .click-hocngay {
	display: block;
}
#thanhtoan-khoahoc {
	width: 40%;
	height: 400px;
	position: fixed;
	top: 100px;
	left: 30%;
	border: 1px solid #ccc;
	background-color: white;
	display: none;
	z-index: 7;
	border: 5px outset #006064;
	overflow: hidden;
}
#thanhtoan-khoahoc table {
	width: 100%;
	height: 400px;
}
#thanhtoan-khoahoc table th {
	background-color: #004d40;
	color: white;
	font-size: 20px;
}
#thanhtoan-khoahoc table td {
	width: 50%;
	border: 1px solid #ccc;
	border-collapse: collapse;
	padding-left: 10%;
	font-size: 18px;
}
#thanhtoan-khoahoc #tenkhoahoc, #giatienkhoahoc {
	color: red;
	font-weight: bold;
}
#thanhtoan-khoahoc table td button {
	width: 80%;
	height: 30px;
	background-color: #004d40;
	color: white;
	font-size: 13px;
	font-weight: bold;
}
#thongtinchitietkhoahoc {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	background: rgba(0,0,0,0.75);
	display: none;
	z-index: 2;
}
#thongtinchitietkhoahoc-son {
	width: 80%;
	height: 80%;
	margin: auto;
	background: white;
	margin-top: 5%;
	overflow-x: hidden;
	text-align: left;
	padding: 20px;
	border: 5px outset #006064;
}
#thongtinchitietkhoahoc-son h2 {
	margin: 0px;
	margin-bottom: 10px;
	color: #1a237e;
	display: inline-block;
}
.para1, .para2, .para3, .para4, .para5{
	margin: 0px;
	margin-bottom: 2px;
	padding-left: 30px;
	font-size: 0px;
	color: #004d40;
}
.font-size-p {
	font-size: 20px;
}
#thongtinchitietkhoahoc-son button{
	width: 30%;
	height: 50px;
	line-height: 50px;
	margin-left: 40%;
	background-color: #26a69a;
	color: white;
	font-size: 18px;
	border: none;
	cursor: pointer;
	font-weight: bold;
	box-shadow: 3px 3px 10px black;
}
#thongtinchitietkhoahoc-son button:hover {
	background: #004d40;
	box-shadow: 5px 5px 15px black;
}
#down-up1, #down-up2, #down-up3, #down-up4, #down-up5 {
	position: relative;
	top: 10px;
	left: 10px;
	cursor: pointer;
	transition: all 0.35s ease;
}
.rotate {
	-webkit-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
}
@media only screen and (max-width: 1280px) {
	#menukhoahoc div {
		font-size: 14px;
	}
	#thanhtoan-khoahoc table th {
		font-size: 18px;
	}
	#thanhtoan-khoahoc table td {
		font-size: 16px;
	}
}
@media only screen and (max-width: 1170px) {
	#danhsachkhoahoc .box-relative h2 {
		font-size: 1em;
	}
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
	#menukhoahoc {
		width: 15%;
	}
	#danhsachkhoahoc {
		width: 85%;
	}
	#danhsachkhoahoc .box-relative {
		width: 46%;
		height: 330px;
		margin: 2%;
	}
	#thanhtoan-khoahoc table td {
		padding-left: 5%;
	}
	#thanhtoan-khoahoc table td button {
		width: 90%;
		font-size: 12px;
	}
	#thanhtoan-khoahoc {
		width: 60%;
		left: 20%;
	}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#menukhoahoc {
		width: 15%;
		float: right;
	}
	#thanhtoan-khoahoc table th {
		font-size: 14px;
	}
	#thanhtoan-khoahoc table td {
		font-size: 12px;
	}
	#danhsachkhoahoc {
		width: 85%;
		float: right;
	}
	#danhsachkhoahoc .box-relative {
		width: 46%;
		height: 330px;
		margin: 2%;
	}
	#thanhtoan-khoahoc {
		width: 70%;
		top: 75px;
		left: 15%;
	}
	#thanhtoan-khoahoc table td {
		padding-left: 0;
	}
	#thanhtoan-khoahoc table td button {
		width: 90%;
		font-size: 12px;
	}
}
@media only screen and (max-width: 479px) {
	#menukhoahoc {
		width: 25%;
		float: right;
	}
	#danhsachkhoahoc {
		width: 75%;
		float: right;
	}
	#danhsachkhoahoc .box-relative {
		width: 90%;
		height: 330px;
		margin-left: 5%;
		margin-right: 5%;
	}
	#thanhtoan-khoahoc {
		width: 96%;
		top: 50px;
		left: 2%;
	}
	#thanhtoan-khoahoc table th {
		font-size: 14px;
	}
	#thanhtoan-khoahoc table td {
		font-size: 12px;
		text-align: left;
		padding: 0px;
	}
	#thanhtoan-khoahoc table td button {
		width: 90%;
		font-size: 12px;
	}
}